Repository RedHatQE/wrapanapi, pull requests merged in 2018-11, with the labels that each got.

#342 Added list_own_snapshots and delete_snapshot methods
  wrapanapi/systems/ec2.py
Labels: enhancement

#341 [RFR] Filter out Backhaul subnet names the same way CloudForms does
  wrapanapi/systems/nuage.py
Labels: Nuage, enhancement

#343 Reworked sqs_connection to boto3 and added list_queues
  wrapanapi/systems/ec2.py
Labels: enhancement

#335 [RFR] Add API for Redfish chassis navigation
  wrapanapi/entities/__init__.py
  wrapanapi/entities/base.py
  wrapanapi/entities/instance.py
  wrapanapi/entities/physical_container.py
  wrapanapi/entities/server.py
  wrapanapi/entities/stack.py
  wrapanapi/entities/template.py
  wrapanapi/entities/vm.py
  wrapanapi/systems/base.py
  wrapanapi/systems/redfish.py
Labels: RedFish, enhancement, lint-ok
