Repository RedHatQE/wrapanapi, pull requests merged in 2019-07, with the labels that each got.

#396 [RFR] Add a timezone mapping for windows to pytz and timezone property
  wrapanapi/systems/scvmm.py
Labels: SCVMM, enhancement, lint-ok

#397 [RFR] Change num sec to timeout in msazure copy_blob_image
  wrapanapi/systems/msazure.py
Labels: Azure, lint-ok

#395 [RFR]Updating how auth_url is handled, now parsing keystone_version from it, added List_keypair
  wrapanapi/systems/openstack.py
Labels: Openstack, lint-ok

#399 [RFR] Update msazure to avoid azure.mgmt.*.models imports where deprecated.
  wrapanapi/systems/msazure.py
Labels: Azure, lint-ok
