Repository RedHatQE/wrapanapi, pull requests merged in 2019-05, with the labels that each got.

#378 [RFR] Add a helper function to download file/VHDs into the library
  wrapanapi/systems/scvmm.py
Labels: SCVMM, enhancement, lint-ok

#379 [RFR] Move creation_time property to shared methods for rhv
  wrapanapi/systems/rhevm.py
Labels: RHV, enhancement, lint-ok

#376 [RFR] fixed count of templates for Azure
  wrapanapi/systems/msazure.py
Labels: Azure, enhancement, lint-ok

#380 [RFR] SCVMM: Removing generic refresh function as it is redundant and broken
  wrapanapi/systems/scvmm.py
Labels: SCVMM, bug, lint-ok

#382 [RFR] fixed set and unset tag for ec2
  wrapanapi/systems/ec2.py
Labels: Amazon, bug, lint-ok
